*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.trai::after{
    display: inline-block;
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    /* bottom: 0; */
    left: calc(50% - 25px);
}

.mag img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.mag :hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
}
.mag .fa-solid{
    color: yellow;
}
.index{
    z-index: -1;
}
.image-fluid{
    max-width: 100%;
    height: auto;
}